<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Add Ban Player Chat </h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <ul class="nav nav-pills pull-right">
                <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
            </ul>
            <div class="panel-heading">
                添加封禁聊天玩家
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/game/addBanPlayerChat" data-pjax="" method="post" role="form">
                    <div class="form-group"  >
                        <label for="firstname" class="col-sm-2 control-label">服务器</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="server" id="server">
                                {% for item in lists %}
                                <option value="{{item['server_id']}}">{{item['name']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">角色id</label>
                        <div class="col-sm-8">
                            <div class="input-group w-full">
                                <input id="role_id" class="form-control"
                                       type="text" name="role_id" size="16">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">起止时间</label>
                        <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                            <div class="input-group w-full">
                                <input id="start" class="form_datetime form-control" placeholder="2020-03-21 00:00:00"
                                       type="text" name="start" size="16">
                            </div>
                        </div>
                        <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                            <div class="input-group w-full">
                                <input id="end" class="form_datetime form-control" placeholder="2020-03-21 23:59:59"
                                       type="text" name="end" size="16">
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-info" id="submit">提交</button>
                        </div>
                    </div>
                </>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body font-thin h1">
                <span>补发成功</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            showMeridian: true,
            pickerPosition: "bottom-left",
            language: 'zh-CN',//中文，需要引用zh-CN.js包
            startView: 2,//月视图
            minView: 1//日期时间选择器所能够提供的最精确的时间选择视图
        });


        $('.btn-other').on('click', function () {
            var server = $('#server').val();
            var start = $('#start').val();
            var end = $('#end').val();
            var role_id = $('#role_id').val();

            $.ajax({
                url: '/game/addBanPlayerChat',
                type: 'POST', //GET
                async: true,    //或false,是否异步
                data: {
                    'server': server,
                    'start': start,
                    'end': end,
                    'role_id': role_id
                },
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text,
                success: function (respon) {
                    $('.modal-body').html('<span>' + respon['data'] + '</span>');
                    $('#myModal').modal();
                }
            });
        });
    });
</script>