<div class="wrapper-md">
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix text-center m-t">
                        <div class="inline">
                            <div ui-jq="easyPieChart">
                                <div>
                                    <img width="120" height="120"
                                         src="https://secure.gravatar.com/avatar/a0b7f00f544581296bb9eadb283482fa?s=300&d=wavatar"
                                         class="img-circle" alt="...">
                                </div>
                            </div>
                            <div class="h4 m-t m-b-xs">{{guildInfo['guildName']}}</div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer bg-info text-center no-padder">
                    <div class="row no-gutter">
                        <div class="col-xs-4">
                            <div class="wrapper">
                                <span class="m-b-xs h3 block text-white">{{guildInfo['guildId']}}</span>
                                <small class="text-muted">公会ID</small>
                            </div>
                        </div>
                        <div class="col-xs-4 dk">
                            <div class="wrapper">
                                <span class="m-b-xs h3 block text-white">{{guildInfo['server']}}</span>
                                <small class="text-muted">服务器</small>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="wrapper">
                                <span class="m-b-xs h3 block text-white">{{guildInfo['createrName']}}</span>
                                <small class="text-muted">公会创建人</small>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="list-group">
                <a href="javascript:void(0);" class="list-group-item">
                    <!--<i class="fa fa-chevron-right text-muted"></i>-->
                    <!--<span class="badge bg-success">14</span>-->
                    <i class="fa icon-calendar fa-fw m-r-xs"></i> 公会创建时间 : {{guildInfo['create_time']}}
                </a>
                <a href="javascript:void(0);" class="list-group-item">
                    <!--<span class="badge bg-dark">20</span>-->
                    <i class="fa icon-graduation fa-fw m-r-xs"></i> 公会等级 : {{guildInfo['guildLv']}}
                </a>
                <a href="javascript:void(0);" class="list-group-item">
                    <!--<span class="badge bg-warning">14</span>-->
                    <i class="fa fa-bookmark fa-fw m-r-xs"></i> 公会经验 : {{guildInfo['guildLe']}}
                </a>
                <a href="javascript:void(0);" class="list-group-item">
                    <!--<span class="badge bg-info">30</span>-->
                    <i class="fa icon-graph fa-fw m-r-xs"></i> 公会公告 : {{guildInfo['guildDl']}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <label style="font-weight: bold; color: red;">
            如果不上传公会消息模板的话则公会消息不会显示任何内容！
        </label>
    </div>

    <!-- tab -->
    <div class="row">
        <div class="col-lg-12">
            <div ng-controller="TabsDemoCtrl">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">成员属性</a>
                    </li>
                    <li><a href="#ios" data-toggle="tab">公会消息</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home" style="background: #fff">
                        <table class="table table-bordered">

                            <thead>
                            <tr>
                                <th><i class="fa icon-badge fa-fw m-r-xs"></i>玩家名称</th>
                                <th><i class="fa icon-equalizer fa-fw m-r-xs"></i>玩家等级</th>
                                <th><i class="fa icon-anchor fa-fw m-r-xs"></i>玩家战力</th>
                                <th><i class="fa icon-bulb fa-fw m-r-xs"></i>公会职位</th>
                                <th><i class="fa icon-calculator fa-fw m-r-xs"></i>玩家登出时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in player %}
                            <tr>
                                <td width="25%">{{value['PlayerName']}}</td>
                                <td>{{value['PlayerLv']}}</td>
                                <td>{{value['MPower']}}</td>
                                <td>{{value['GuildGrade']}}</td>
                                <td>{{value['Create_time']}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="ios" style="background: #fff;">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>发送消息内容</th>
                                <th>发送消息时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for news in guildnews %}
                            <tr>
                                <td width="85%">{{news['news']}}</td>
                                <td width>{{news['send_time']}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / tab -->
</div>
