<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Guild Manage</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/game/importGuildExcel" data-pjax=""><i class="fa fa-plus"></i> 上传公会职位表 </a></li>
                    <li><a href="/game/importGuildNews" data-pjax=""><i class="fa fa-plus"></i> 上传公会消息模板 </a></li>
                </ul>
                公会查询
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/game/guild" data-pjax="" method="post" role="form">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-8 control-label"  style="color: red; font-weight: bold;">注意: 上传.xlxs格式文件,如果不上传公会职位表会以行为id的形式展现,会影响阅读体验</label>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">服务器</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="server" id="server">
                                {% for item in lists %}
                                <option value="{{item['server_id']}}">{{item['name']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">公会ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="guild_id" name="guild_id" class="form-control" id="txt_parentdepartment" placeholder="公会ID与公会名称填一即可">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">公会名称</label>
                        <div class="col-sm-8">
                            <input type="text" id="guild_name" name="guild_name" class="form-control" id="txt_departmentlevel" placeholder="公会ID与公会名称填一即可">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" id="btn_submit"  class="btn btn-info">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>