<div class="app-content-body ">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">

        </div>
        <div class="panel-body">
            <form class="form-inline" role="form" action="/setting/synchro" method="get" data-pjax >
                <div class="form-group">
                    <label class="col-sm-12 control-label">同步数据表</label>
                </div>
                <input type="hidden" name="is_form" value="1">
                <button class="btn btn-success" >开始同步表</button>
            </form>
        </div>
    </div>
</div>