<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Server Manage</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
                        </ul>
                        <i class="fa fa-cube"></i> 服务器信息
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal " data-pjax="" method="post" action="/Server/create" role="form">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">区服标识ID</label>
                                <div class="col-sm-8">
                                    <input type="text" name="id" class="form-control" placeholder="区服标识ID" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">区服名称</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" class="form-control" placeholder="区服名称" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">IP地址</label>
                                <div class="col-sm-8">
                                    <input type="text" name="host" class="form-control" placeholder="IP地址" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">端口</label>
                                <div class="col-sm-8">
                                    <input type="text" name="port" class="form-control" placeholder="端口">
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline i-checks">
                                        <input name="open_mode" type="radio" value="on" checked ><i></i> On
                                    </label>
                                    <label class="checkbox-inline i-checks">
                                        <input name="open_mode" type="radio" value="sandbox"><i></i> Sandbox
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">是否爆满</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline i-checks">
                                        <input name="full_mode" type="radio" value="Yes" ><i></i> Yes
                                    </label>
                                    <label class="checkbox-inline i-checks">
                                        <input name="full_mode" type="radio" value="No" checked><i></i> No
                                    </label>
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">服务器颜色</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline i-checks">
                                        <input name="color_mode" type="radio" value="Green" checked ><i></i> Green
                                    </label>
                                    <label class="checkbox-inline i-checks">
                                        <input name="color_mode" type="radio" value="Red"><i></i> Red
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">是否可见</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline i-checks">
                                        <input name="visible_mode" type="radio" value="Yes" checked><i></i> Yes
                                    </label>
                                    <label class="checkbox-inline i-checks">
                                        <input name="visible_mode" type="radio" value="No"><i></i> No
                                    </label>
                                </div>
                            </div>









                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info">确认添加</button>
                                    <a class="btn btn-default" onclick="javascript:history.back(-1)">取消添加</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>