<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Server Manage</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
                        </ul>
                        <i class="fa fa-cube"></i> 服务器信息
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal " data-pjax="" method="post" action="/Server/edit" role="form">
                            <input type="hidden" name="id" value="{{server['id']}}">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">区服名称</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" value="{{server['name']}}" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">IP地址</label>
                                <div class="col-sm-8">
                                    <input type="text" name="host" value="{{server['host']}}" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">端口</label>
                                <div class="col-sm-8">
                                    <input type="text" name="port" value="{{server['port']}}" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">合服后的服务器Id</label>
                                <div class="col-sm-8">
                                    <input type="text" name="merge_id" value="{{server['merge_id']}}" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="open_mode" id="open_mode">
                                        {% for key,item in status %}
                                            {% if key == server['status'] %}
                                                <option value="{{ key }}" selected>{{ item }}</option>
                                            {% else %}
                                                <option value="{{ key }}">{{ item }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">服务器推荐状态</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="server_flag" id="server_flag">
                                        {% for key,item in flag %}
                                            {% if key == server['flag'] %}
                                                <option value="{{ key }}" selected>{{ item }}</option>
                                            {% else %}
                                                <option value="{{ key }}">{{ item }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">是否是新服</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="is_new" id="is_new">
                                        {% for key,item in is_new %}
                                            {% if key == server['is_new'] %}
                                                <option value="{{ key }}" selected>{{ item }}</option>
                                            {% else %}
                                                <option value="{{ key }}">{{ item }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info">确认修改</button>
                                    <a class="btn btn-default" onclick="javascript:history.back(-1)">取消修改</a>
                                    <a href="/server/remove?id={{server['id']}}" class="btn btn-danger pull-right" onclick="return confirm('确认删除?')">
                                        <i class="fa fa-trash-o text"></i><span class="text">删除</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>